@import "./default.css";

body {
  font-family: "Rubik";
}

section {
  margin-bottom: 80px;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.header-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.burger-line {
  border-bottom: 2px solid #000000;
  width: 20px;
  margin: 8px 0px;
}

.header-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
}

.lang {
  font-size: 14px;
}

.lang.active {
  font-weight: 900;
}

.lang:first-child {
  margin-right: 9px;
}

.header-logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}

.header-between:last-child {
  justify-content: end;
}

.main .container {
  height: 350px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-large {
  display: flex;
  width: 64%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main .container:first-child {
  margin-bottom: 30px;
}

.main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.line {
  width: 50%;
  border: 1px solid black;
}

.main-medium {
  display: flex;
  width: 32%;
  justify-content: space-between;
}

.main-small {
  width: 47%;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  transition: 0.4s;
}

.cover:hover {
  background-color: #000000;
  animation: scaletest 2s infinite;
}

@keyframes scaletest {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.catalog h2 {
  margin-bottom: 30px;
}

.catalog .container {
  height: 350px;
  margin-bottom: 30px;
}

.catalog .container:last-child {
  margin-bottom: 0;
}

.miniblock {
  background-color: #848484;
  width: 65px;
  height: 50px;
}

.catalog-text {
  left: 0px;
  top: 60px;
  font-style: normal;
  font-weight: 275;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.465em;
}

.catalog-medium {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  margin-bottom: 50px;
}

.info-wrapper:first-child .container,
.info-wrapper:nth-child(2) .container {
  width: 70%;
}

.info-details {
  width: 10%;
}

.info-btn {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.cover.info-abs {
  background-color: #848484;
}

.cover.info-abs:hover {
  animation: none;
}

.info-abs {
  position: absolute;
  left: 0;
  top: 0;
}

.details-text {
  text-align: center;
}

.info-wrapper:nth-child(2) {
  background-color: #e4e4e4;
  padding: 64px 0;
}

.info-title {
  font-weight: 900;
  width: 30%;
}

input[type="text"] {
  font-family: "Rubik";
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

input[type="button"] {
  width: 30px;
  height: 30px;
  background-color: #848484;
  margin-left: 20px;
}

form {
  display: flex;
  align-items: center;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.info-text {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 0.1em;
}

.info-content:last-child {
  border-left: 2px solid black;
}

.info-media {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg:last-child {
  margin-left: 7%;
}

footer {
  background-color: #848484;
}
